.bg-container {
    height: 100vh;
    background-image: url('/img/Fondoeei.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1rem;
  }

  .form-wrapper {
    max-width: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
  }

  .logo {
    max-width: 120px;
  }

  .form-label {
    font-weight: bold;
  }